[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
##psycopg2 = "*"
##flower = "*"
fastapi = "*"
pydantic = "*"
sqlalchemy = "*"
uvicorn = "*"
werkzeug = "*"
jwt = "*"
redis = "*"
python-multipart = "*"
selenium = "*"
celery = "*"
watchdog = "*"
pyyaml = "*"
argh = "*"
psycopg2 = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.9.2"
